/*
	$Id$
	Abarre, for Drupal 5.0
	Hubert Florin at Raincity Studios
	www.raincitystudios.com 
*/

/*------------------------------------
						Reset CSS 
------------------------------------*/

* {
	margin:0;
	padding:0;
}

a:link, a:visited{color:#d63e03;}
a:hover, a:active{color:#7aa1a6;}


/*------------------------------------
						General Layout 
------------------------------------*/

body{
	font-family:"trebuchet ms",arial,sans-serif;
	font-size:0.85em;
	background:#f7f7f1 url(images/bg.gif) repeat-y;
}
#header{
	position:relative;
	height:80px;
	border-bottom:1px dotted #D2D2BB;
	margin:20px 40px 0 340px;
}
#content{
	clear:left;
	padding:0 35px 0 340px;
}
#main{
	color:#545454;
	width:100%;
}
#content .column{
	float:left;
	position:relative;
}
#sidebar-left{
	text-align:right;
	margin-left:-100%;
	right:340px;
	width:300px;
}

/*------------------------------------
						Header Design
------------------------------------*/

#header h1 a{
	font-size:1.3em;
	text-decoration: none;
}
#header #logo{
	float:left;
	margin-right:15px;
}
#name-and-slogan{
}
#site-slogan{
	font-weight:bold;
	font-size:0.9em;
	color:#d63e03;
	margin:0;
}
#search-theme-form{
	position:absolute;
	right:10px;
	bottom:5px;
}

/*------------------------------------
						Sidebar Design 
------------------------------------*/

#sidebar-left a{
	text-decoration: none;
}
#sidebar-left li a.active{
	color:#575446;
}
#sidebar-left .block{
	margin:10px 16px 5px 0;
	padding:0 0 10px 15px;
	background:transparent url(images/hover-block.gif) repeat-x;
}
#sidebar-left h2.title{
	margin:6px 0 0;
	float:right;
	font-size:1.2em;
	color:#575446;
	padding:0 10px;
	background-color:#C7C2A9;
}
#sidebar-left .node{
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-bottom:15px;
}
#sidebar-left .node h2.title{
	float:none;
}
#sidebar-left ul{
	padding:0;
	margin:0px 10px 5px 0;
	text-align:right;
}
#sidebar-left ul ul{
	display:none;
}
#sidebar-left ul li {
	color:#575446;
	list-style:none;
	list-style-image:none;
}
#sidebar-left ul li a{
	background:transparent url(images/side-li.gif) no-repeat center right;
	padding-right:20px;
	position:relative;
	left:27px;
}
#sidebar-left .links ul li a,
#sidebar-left .links ul li a.active,
#sidebar-left .links ul li a:hover,
#sidebar-left .taxonomy ul li a,
#sidebar-left .taxonomy ul li a:hover,
#sidebar-left .taxonomy ul li a.active,
#sidebar-left .quicktabs_wrapper ul li a,
#sidebar-left .quicktabs_wrapper ul li a:hover,
#sidebar-left .quicktabs_wrapper ul li a.active{
	background:none;
	position:static;
}
#sidebar-left ul li a:hover, #sidebar-left ul li a.active{
	background:transparent url(images/side-li-active.gif) no-repeat center right;
}
#sidebar-left .block .content{
	clear:right;
	margin:0;
	padding:10px 10px 0 0;
}

/* ----- Primary / Secondary Links --------- */

#sidebar-left .primary-links{
	background:none;
	margin:0;
	padding:0;
}
#sidebar-left .primary-links li{
	display:block;
	background:transparent;
	margin:5px 0;
	padding:0;
}
#sidebar-left .primary-links li a{
	color:#575446;
	background:transparent url(images/primary.gif) no-repeat center right;
	font-size:1em;
	font-weight:bold;
	position:static;
	margin-right:12px;
	text-transform:capitalize;
}
#sidebar-left .primary-links li a.active, #sidebar-left  .primary-links li a:hover{
	color:#d63e03;
	background:transparent url(images/primary-active.gif) no-repeat center right;
}
#sidebar-left #secondary.block:hover{
	background-image:none;
}
#sidebar-left #secondary li a{
	left:24px;
	background:transparent url(images/primary.gif) no-repeat center right;
}
#sidebar-left #secondary li a.active, #sidebar-left #secondary li a:hover{
	background:transparent url(images/primary-active.gif) no-repeat center right;
}
#sidebar-left .content{
	color:#747163;
}
#sidebar-left tr.even{
	background-color:transparent;
}
#sidebar-left tr, #sidebar-left td{
	border-bottom:1px solid #747163;
}

/* ----- Navigation --------- */

#sidebar-left #block-user-1 ul li a{
	left:34px;
}

/* --------- Login ---------- */

#sidebar-left #block-user-0{
	padding:0 0 10px 0px;
}
#user-login-form{
	padding:5px 0;
	text-align:right;
}
#user-login-form .form-item, #user-login-form #edit-submit{
	margin:5px 10px 0;
}
#user-login-form .form-item label{
	color:#747163;
	font-size:0.9em;
	margin-left:40px;
	float:left;
}
#user-login-form .item-list{
	margin-top:10px;
}

/*------------------------------------
						Main Content Design 
------------------------------------*/

#main .links li,
#main .tabs li{
	padding-left:0;
	margin-left:0;
	background: none;
}
#main .content p, #main .node .content{
	font-family:arial,sans-serif;
	line-height:1.4em;
}
#main .content p{
	margin-bottom:10px;
}
#main h1{
	text-transform:capitalize;
	padding-left:15px;
	margin:0 0 10px -15px;
	background:transparent url(images/title-icon.gif) no-repeat 0 75%;
	color:#747163;
}
#main a{
	text-decoration:none;
}
div#mission{
	color:#a2a198;
	font: italic 110% georgia, times, serif;
	line-height:1.5em;
	padding:20px;
	margin:0 0 20px;
	border-right:1px solid #deded9;
	border-left:1px solid #deded9;
	background:#fcfcfc url(images/shadow-bottom.gif) repeat-x top left;
}
#main .content ul, #main .content ol{
	margin:0 0 20px 20px;
}
#main .content ul ul, #main .content ol ol,
#main .content ul ol, #main .content ol ul{
	margin-bottom:0;
}
dl dt{
	font-weight:bold;
}
dl dd{
	margin-left:10px;
	font-style:italic;
}
#main .content hr{
	border:1px dotted #ccc;
	margin-bottom:10px;
}
#main .content blockquote{
	font-style:italic;
	padding:10px;
	margin:20px 50px;
	border-right:1px solid #deded9;
	border-left:1px solid #deded9;
	background:#fff url(images/shadow-bottom.gif) repeat-x top left;
}

/*------- blog post and story ----------*/

#main .node{
	margin:0 0 20px;
	padding-bottom:30px;
	background:transparent url(images/bar.gif) no-repeat bottom center;
}
#main .node h2 a{
	font-size:120%;
}
#main .node .submitted{
	color:#D63E03;
	display:block;
	margin-top:5px;
}
#main .node .links ul,
#main #comments .links ul{
	display:block;
	margin-top:10px;
}
#main .node .links .blog_usernames_blog,
div.comment span.new, #main .feed-icon{
	display:none;
}

#main .node .links ul li,
#main #comments ul li{
	margin:0 10px 0 0;
}
.indented, .comment{
	margin:10px 0 20px;
}
#comments h3 a{
	display:block;
	margin:30px 0 10px;
	color:#8c8977;
}

/*-------------- icons----------- */

#main .links ul li a.comment_add:hover,
#main .links ul li a.comment_comments:hover{
	background:#7AA1A6 url(images/comment.gif) no-repeat top left;
}
#main .links li a.comment_add,
#main .links li a.comment_comments{
	height:9px;
	padding:0 0 0 13px;
	background:#D63E03 url(images/comment.gif) no-repeat top left;
}
#main .links ul li a.comment_edit:hover{
	background:#7AA1A6 url(images/edit.gif) no-repeat top left;
}
#main .links li a.comment_edit{
	height:9px;
	padding:0 0 0 13px;
	background:#D63E03 url(images/edit.gif) no-repeat top left;
}
#main .links ul li a.comment_delete:hover{
	background:#7AA1A6 url(images/delete.gif) no-repeat top left;
}
#main .links li a.comment_delete{
	height:9px;
	padding:0 0 0 13px;
	background:#D63E03 url(images/delete.gif) no-repeat top left;
}
#main .links ul li a.comment_reply:hover{
	background:#7AA1A6 url(images/reply.gif) no-repeat top left;
}
#main .links li a.comment_reply{
	height:9px;
	padding:0 0 0 13px;
	background:#D63E03 url(images/reply.gif) no-repeat top left;
}

/*---------- interface design ------------*/

#main tr.odd .form-item, #main tr.even .form-item{
	margin:8px 0;
}
.theme-settings-bottom, .profile, .node-form .standard{
	clear:none;
}	
.theme-settings-left, .theme-settings-right{
	float:none;
}
table{
	width:99%;
}
.tabs{
	margin:20px 0;
}
.tabs .primary, .tabs .secondary{
	border:none;
	border-bottom:1px solid #dbd8ca;
}
ul.primary li a{
	background-color:transparent;
	border:none;
}
ul.primary li.active a{
	color:#D63E03;
	background-color:#dbd8ca;
	border:none;
}
.node-form textarea{
	font:12px/1.5em arial,sans-serif;
	background:#fff url(images/shadow-bottom.gif) repeat-x top left;
}

/* misc */

.node-form .form-item label{
	border-top:1px solid #C4BFA6;
	border-bottom:2px solid #A2A198;
	font-size:12px;
	padding:3px 10px;
	background-color:#EBEBDF;
	display:table;
}
#edit-title{
	font-size:16px;
	padding:3px 10px;
}
fieldset {
	width:95%;
}

/*---------- Forum design ------------*/

tr, td{
	border-bottom:1px solid #ccc;
}
tr.even{
	background-color:#efefef;
}
tr.odd, td.active{
	background-color:transparent;
}
td.menu-disabled {
	background:#FFE2C6;
}
#forum .name a{
	font-size:16px;
	font-weight:bold;
}
#forum td{
	padding:10px;
}
.forum-topic-navigation{
	margin:5px 0;
}


/*------------------------------------
						Footer Design 
------------------------------------*/

#footer{
	position:relative;
	margin:30px 0 0 240px;
	height:45px;
	background:transparent url(images/footer-corner.gif) no-repeat top left;
}
#footer .content{
	padding:10px;
	text-align:center;
	font-size:11px;
	color:#A9A590;
	margin:0 60px;
}
#footer #corner{
	height:29px;
	width:29px;
	position:absolute;
	top:0;
	right:20px;
	background:transparent url(images/footer-corner2.gif) no-repeat top left;
}
#footer #block-menu-2 h2{
	display:none;
}
#footer #block-menu-2 ul{
	text-align:center;
	font-size:70%;
	color:#747163;
	margin:0pt 85px;
	padding-top:10px;
}
#footer #block-menu-2 ul ul{
	display:none;
}
#footer #block-menu-2 ul li{
	display:inline;
}
#footer #block-menu-2 li, #footer #block-menu-2 a{
	list-style-image:none;
	list-style:none;
	text-decoration:none;
	color:#747163;
}
#footer #block-menu-2 a:hover{
	text-decoration:underline;
}